# 1.함수 정의

In [ ]:
def cal(op,*args):
  if op =='add':
    result = 0        #변수 초기화를 위해서
    for arg in args:      
      result += arg 
윙
  elif op == 'mul':
    result =1         #변수 초기화
    for arg in args:
      result *= arg 

  else:
    return 0

  return result

In [ ]:
result =cal('add',1,2,3,4,5)

result

15

In [ ]:
result =cal('mul',1,2,3,4,5)
result

120

## 키워드 *파라미터*

In [ ]:
# **wargs :딕셔너리로 처리하기 위해서 (key word aruments로 관례적으로 사용된다 )

def print2(**kwargs):
  print(kwargs)

In [ ]:
print2(a=1)

{'a': 1}

In [ ]:
print2(name='황정은',age=20)

{'name': '황정은', 'age': 20}

##결과 처리

In [ ]:
def add_mul(a,b):
  return a+b,a*b

In [ ]:
result = add_mul(3,5)
result                #return으로 2개의 값을 보내주면 result는 packing된결과를 받게 된다.

(8, 15)

In [ ]:
rel1,rel2 = add_mul(3,5)    #unpacking해서 결과를 집어넣는 것도 가능하다. 
rel1

8

packing : return 값을 보낼 때 기본적으로 1개의 값만 보낼 수 있다.
return 값을 보낼때 여러개의 값을 보낼때 1개로 묶에서 보낸다


unpacking :packing 된걸 풀어내는 것을 unpacking 이라고 한다. 
rel1,rel2 = add_mul(3,5)

In [ ]:
rel2

15

In [ ]:
def say_nick(nick):       #함수에서 parameter거 유효한지 아닌지/ 처리할건지 안할건지 확인할때  사용한다. 
  if nick == '바보':
    return

  print(f'그의 별명은 {nick}입니다.')

In [ ]:
say_nick('__')

그의 별명은 __입니다.

##기본값 설정

In [ ]:
def intro_me(name,age,sex):
  print(f'나의 이름은{name}입니다.')
  print(f'나의 나이는{age}입니다.')
  print(f'나의 성별은{sex}입니다.')

In [ ]:
intro_me('황정은',24,'Woman')

나의 이름은황정은입니다.
나의 나이는24입니다.
나의 성별은Woman입니다.

In [ ]:
#파라메터기본값 설정
def intro_me(name,age,sex='woman'):
  print(f'나의 이름은{name}입니다.')
  print(f'나의 이름은{age}입니다.')
  print(f'나의 이름은{sex}입니다.')

intro_me('황정은',23)

나의 이름은황정은입니다.
나의 이름은23입니다.
나의 이름은woman입니다.

In [ ]:
# 기본값을(defult)뒤에  hobby가 들어오게 되면 판단에 오류가 생긴다.
#따라서 기본값은 준 파라메터(default)값은 맨 뒤로 보내야 한다 
#기본 값이 있는 파라메터는 기본값이 없는 파라메터를 뒤에 둘 수 없다.
 
def intro_me(name,age,sex='woman',hobby):
  print(f'나의 이름은{name}입니다.')
  print(f'나의 이름은{age}입니다.')
  print(f'나의 이름은{sex}입니다.')

intro_me('황정은',23)

SyntaxError: ignored

**기본값이 있는 파라메터는 맨 뒤로 보내야 한다 **

## 변수 스코프

### 전역변수/지역변수

전역변수 :어디에서나 사용할 수 있다

지역 변수 : 함수 범위 내에서만 사용할 수 있는 함수 함수내/ for문 또는 ':'(하나의 지역을 만든다는 의미) 가 붙는 함수

In [ ]:
gVar = 1        #globel(전역)변수

def vertest(lVar):    #local(지역)변수  -> lVar 변수에 gVar의 값만 받는다
  lVar=lVar+1
  print(f'lVar의 값은: {lVar}')

vertest(gVar)

print(f'gVar의 값은 :{gVar}')

lVar의 값은: 2
gVar의 값은 :1

전역변수의 값은 변화하지 않는다. 
전역 변수의 값은 변화가 없으나 지역 변수의 값은 증가한다. 
함수를 호출할때 글로벌 변수를 호출햇다고 쓰는게 아니라 로컬 변수를 사용한다.

In [ ]:
a = 1                       #전역변수

def vartest(a):              #지역변수
  a = a+1
  return a

a = vartest(a)          #로컬 변수 a의 값을 전역변수 a의 값에 넣는다.

a                       #전역 변수 a의 값을 출력한다.

2

In [ ]:
gVar = 1                       #1. 전역변수 만든다

def vartest(lVar):              #3. 지역변수 -> lVar에 gVar의 값을 넣는다.  
  lVar = lVar+1
  print(f'lVar의 값 :{lVar}')
  return lVar                    #4.ㅣVar 값을 리턴하고 이값을 다시 vertest(gVar)에 넣어준다. 

gVar = vartest(gVar)          #2. 로컬 변수 gVar의 값을 선언된 vartest 함수와 같다고 정의.
#vartest(gVar) 


print(f'gVar의 값: {gVar}')                       #5.바뀐 gVar의 값을 출력한다.

lVar의 값 :2
gVar의 값: 2

In [ ]:
gVar = 1                       #1. 전역변수 만든다

#=====지역 변수 ======
def vartest2():              
  global gVar                 #전역 변수의 값을 받아들이는 것이다. 
  gVar =gVar+1
#=====================
vartest2()

print(f'gVar의 값: {gVar}')

gVar의 값: 2

In [ ]:
a = 1                                 #1. 전역변수 만든다

#=====지역 변수 ======                지역 변수 내에서만 계산이 이루어진다. 
def vartest2(a):              
  #global a                
  a = a+1
  print(f'지역변수 a= {a}')
#=====================

vartest2(a)                          #.1번 전역 변수의 값을 출력한다. 

print(f'전역 변수 a의 값: {a}')

지역변수 a= 2
전역 변수 a의 값: 1

In [ ]:
# 전역 변수를 사용하게 되면 쉽게 변경이 가능하게 
# 원하는 값을 얻지 못할 수 있다. 

a = 1                       #1. 전역변수 만든다

#=====지역 변수 ======       지역 변수 내에서만 계산이 이루어진다. 
def vartest2():              
  global a                
  a = a+1
  print(f'vertest2호출_a2= {a}')
#=====================

#=====지역 변수2 ======       지역 변수 내에서만 계산이 이루어진다. 
def vartest3():              
  global a                
  a = a+1
  print(f'vertest3 호출_a3= {a}')
#=====================


vartest2()                 #.1번 전역 변수의 값을 출력한다. 
vartest3()


print(f'a의 결과값: {a}')

vertest2호출_a2= 2
vertest3 호출_a3= 3
a의 결과값: 3

###람다 함수

In [ ]:
add = lambda a,b :a+b 

#result = add(1,2)

#result

add(1,2)

3

In [ ]:
def add(a,b):
  return a+b

  result =add(1,2)

  result

#입출력

In [ ]:

# 안내문자 :prompt
#input 함수가 처리하는 것은 '__'문자열이다.
#숫자 형태로 처리하기 위해서는 int(input())으로 변환한다.

num= input('숫자를 넣어주세요  : ')

num= int(input('숫자를 넣어주세요  : '))

num

숫자를 넣어주세요  : 6
숫자를 넣어주세요  : 6

6

In [ ]:
a = {1.2,3}
print(a)
#print는 어떤 값이든 자동으로 맞춰준다.

{1.2, 3}

In [ ]:
print('I''Love''you')
#띄어쓰기 없이 하나의 문장으로 만들어버린다.

ILoveyou

In [ ]:
print('I','Love','you')
#print('문자열 1','문자열 2','문자열 3')
#띄어쓰기 되어 하나의 문장으로 만들어버린다.

I Love you

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i,end = ' ')
  #가로로 출력된다.

0 1 2 3 4 5 6 7 8 9

#파일

## 파일 생성, 쓰기

* r: read
* w :write
* a: append

In [ ]:
###파일
저장소(storage)에 저장소

In [ ]:
open('filetest.txt','w') opern(#파일 이름, 모드값)

In [ ]:
f=open('filetest.txt','w')  #open(파일 이름, 모드값)

f.close()

_.open(파일 이름, 모드값)

_.close()

항상 페어로 사용해야 한다

In [ ]:
f=open('filetest.txt','w')  #open(파일 이름, 모드값)

for i in range(1,10):
  data = f'{i}번째 줄 입니다.\n'
  f.write(data)        #텍스트 편집할 수 있는 함수 호출 _.write(원하는 데이터 변수명)


f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

##읽기

_.readline(_)

In [ ]:
f=open('filetest.txt','r')

line = f.readline()   #readline = 첫번째 줄만 읽는다. 
print(line)

f.close()

1번째 줄 입니다.

In [ ]:
f=open('filetest.txt','r')

lines = f.readlines()   #readline = 첫번째 줄만 읽는다. 

for line in lines:      #한출씩 출력
 print(line)


f.close()

In [ ]:
#while문을 사용하여 반복하기

f=open('filetest.txt','r')

r =0

while r<10:               #  줄을 모를때, 계속 돌아간다.  
  line =f.readlines()

  for line in lines:
    print (line)
  
    r += 1

f.close()

In [ ]:
#while문을 사용하여 반복하기

f=open('filetest.txt','r')

while True:               #  줄을 모를때, 계속 돌아간다.  
  line =f.readlines()
  for line in lines:
    
  if not line:
    break

  print (line)
f.close()

['1번째 줄 입니다.\n', '2번째 줄 입니다.\n', '3번째 줄 입니다.\n', '4번째 줄 입니다.\n', '5번째 줄 입니다.\n', '6번째 줄 입니다.\n', '7번째 줄 입니다.\n', '8번째 줄 입니다.\n', '9번째 줄 입니다.\n']

_
.close() : 다른 사람이 파일에 접근하는 것이 가능하게 한다.

In [ ]:
#미리 range 를 정해 놓으면 자동으로 close 된다. 
with open('filetest.txt','a') as f:
  for i in range(11,21):
    data =f'{i}번째 줄 입니다 \n'
    f.write(data)

###퀴즈

####주식 예제 1

In [ ]:
# 매수 종목.txt
f=open('매수 종목.txt','w')  #파일 만들기 open(파일 이름, 모드값)

data = ('900260\n252670\n217240')

f.write(data)        #텍스트 편집할 수 있는 함수 호출 _.write(원하는 데이터 변수명)

f.close()

In [ ]:
with open('220113 매수 종목.txt','w')as s:
  data = ('900260\n252670\n217240')

  s.write(data)

  s.close()

####주식 예제 2

In [ ]:

stocks = {'로스웰': 900260,
          'KODEX 200선물인버스2X':252670,'TS 트릴리온': 217240}

with open('매수 종목3.txt','w')as s:
 
  for stock in stocks_values:
  data = f'{stock}'
  s.write(data)

  s.close()

IndentationError: ignored

In [ ]:
stocks = {'로스웰': 900260,'KODEX200선물인버스2X':252670,'TS 트릴리온': 217240}

with open('매수 종목 1.txt','w') as s:
  for i,j in stocks.items():
    data = f'{i}:{j} \n'
    s.write(data)

####주식 예제 3 리스트,딕셔너리로 만들기
-강사 예제

In [ ]:
#매수 종목.txt를 읽고 코드를 리스트로 만들 보기

with open('매수 종목.txt','r')as s:   #'파일을 열로 라인즈라는 파일에 넣는다.
 
  lines = s.readlines()

  codes = [] #아무것도 없는 리스트로 만든다. 

  for line in lines:

    codes.append(line)

  print(codes)

['900260\n', '252670\n', '217240']

In [ ]:
#매수종목1을 읽고 종목명과 코드를 딕셔너리로 만들어보기

with open('매수 종목 1.txt','r') as d:
  lines = d.readlines()
  print (f'lines ={lines}')

  diction ={}                #[] = diction ,빈 딕셔너리 파일을 만든다

  for line in lines:
    print(line)
    k,v = line.strip().split()        # 오류가 생기면 파일 내 띄어쓰기가 문제
    data[k] = v           # 키 밸류가 추가된 딕셔너리 파일을 만든다.

  print(diction)

lines =['로스웰:900260 \n', 'KODEX200선물인버스2X:252670 \n', 'TS 트릴리온:217240 \n']
로스웰:900260

ValueError: ignored

In [ ]:
  type(diction)

list

####주식 예제 3_2 리스트,딕셔너리로 만들기

In [ ]:

#매수 종목.txt를 읽고 코드를 리스트로 만들 보기

with open('매수 종목 1.txt','r')as s:   
  lines = s.readlines() 
  codes = []

  for line in lines: 
   print(line)

#print(codes)

로스웰:900260

KODEX 200선물인버스2X:252670

TS 트릴리온:217240

In [ ]:
type(codes)

list

In [ ]:
#매수 종목.txt를 읽고 코드를 딕셔너리로 만들 보기

with open('매수 종목 1.txt','r')as s:   
  lines = s.readlines() 
  codes = {}

  for line in lines: 
   print(line)

로스웰:900260

KODEX 200선물인버스2X:252670

TS 트릴리온:217240

In [ ]:
type(codes)

dict